python-telegram-bot==12.8
xlsxwriter
pymongo
git+https://github.com/rthalley/dnspython
GitPython
requests
pysocks
apscheduler
PyMuPDF==1.22.5
pytube
moviepy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client<4.0.0
pyrogram
TgCrypto
pypdf2<3.0
cloudinary
bs4
pyaes==1.6.1
pysocks==1.7.1
streamlit