<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width=device-width, initial-scale=.1" />
    <title>Awesome Quiz App | CodingNepal</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- FontAweome CDN Link for Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
   
    
    <div class="quiz_box activeQuiz" id="my_data">
    <script src="../static/questions.js"></script>
    
    
      <script>
    const quiz_box = document.getElementById("my_data");
    
    
    var selected_option={};
    {% for key, value in data.items() %}
    selected_option["{{ key }}"] ="{{ value }}";
    {% endfor %}
    let y='<header><div class="title">Soojh Boojh Quiz</div><div class="username">Name is : '+selected_option["name"]+'</div></header>';
    var Qn=0;
    
    
    for(i=0; i < questions.length; i++){
    if ((questions.length).toString().length==i.toString().length){Qn=(i)+1;}else{Qn=(i)+1;
    Qn="0".repeat(questions.length.toString().length-1)+Qn}
    
    y=y+'<section><div class="que_text"><span><b>'+Qn+'Q .</b>'+questions[i].question+'</span></div><div class="option_list">';
    if (selected_option[i]==questions[i].answer){
    
    for (j=0; j< questions[i].options.length; j++){
    if (questions[i].options[j]==questions[i].answer){
    y=y+'<div class="option correct disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span><div class="icon tick"><i class="fas fa-check"></i></div></div>';}
    else{y=y+'<div class="option disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span></div>';}}
      
    }else{
    for (j=0; j< questions[i].options.length; j++){
    if (questions[i].options[j]==questions[i].answer){
    y=y+'<div class="option correct disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span><div class="icon tick"><i class="fas fa-check"></i></div></div>';}
    else if (questions[i].options[j]==selected_option[i]){y=y+'<div class="option incorrect disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span><div class="icon cross"><i class="fas fa-times"></i></div></div>';}
    else{y=y+'<div class="option disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span></div>';}}
    }
        y=y+'</div></section><footer>Time Taken by '+selected_option["time"+i]+' Seconds<br>Current Marks is '+selected_option["marks"+i]+'</footer>';
    }
    
    quiz_box.innerHTML=y+'<footer><div class="total_que"><span>Total Number of <p>Questions </p> is <p>'+questions.length+'</p></span></div></footer>';
    
      </script>
</div>

</body></html>