<!-- Created By CodingNepal - www.codingnepalweb.com  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Quiz App | CodingNepal</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- FontAweome CDN Link for Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="quiz_box" id="quiz_box">
    </div>
    <div class="result_box" id="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        
    </div>

    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <script src="../static/questions.js"></script>

    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script>
    const quiz_box = document.getElementById("quiz_box");
    quiz_box.classList.add("activeQuiz");
    const result_box = document.getElementById("result_box");
    quiz_box.innerHTML = '<header><div class="title">Soojh Boojh Quiz</div></header>';
    result_box.classList.remove("activeResult");
    let y="";
    let selected_option={}
    {% for key, value in data.items() %}
    selected_option[{{ key }}] ={{ value }}
    {% endfor %}
    alert("fff");
    
    
    for(i=0; i < questions.length; i++){
    if (questions[i].answer==selected_option[i]){
    y=y+'<header><div class="title">Soojh Boojh Quiz</div></header><span>'+questions[i]+'</span><div class="option_list">';
        for (j=0; j< questions[i].options.length; i++){
        if (questions[i].options[j]==questions[i].answer){
        y=y+'<div class="option correct disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span><div class="icon tick"><i class="fas fa-check"></i></div></div>';}else{y=y+'<div class="option disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span></div>';}
        
        y=y+'</footer>';}
        
    }else{
    y=y+'<header><div class="title">Soojh Boojh Quiz</div></header><span>'+questions[i]+'</span><div class="option_list">';
        for (j=0; j< questions[i].options.length; i++){
        if (questions[i].options[j]==questions[i].answer){
        y=y+'<div class="option correct disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span><div class="icon tick"><i class="fas fa-check"></i></div></div>';}else if (questions[i].options[j]==selected_option[i]){
        y=y+'<div class="option incorrect disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span><div class="icon cross"><i class="fas fa-times"></i></div></div>';
        }else{y=y+'<div class="option disabled" onclick="optionSelected(this)"><span>'+questions[i].options[j]+'</span></div>';}
        
        y=y+'</footer>';}
        }
    
    
    }
    
    </script>

</body>
</html>